/* Font import from Google fonts */

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Css code */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

h2 {
    width: 40%;
    padding: 15px;
    margin: 0px auto;
}

main {
    width: 80%;
    margin: 0px auto;
}

.main-container {
    border: 3px solid gray;
    width: 75%;
    height: 80vh;
    margin: 0 auto;
    padding: 12px 5px;
}

.display-container {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 1.2rem;
    border: 2px solid gray;
    background-color: rgba(17, 16, 16, 0.04);
    height: 25%;
    width: 100%;
    padding: 6px 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.display-input,
.display-output {
    letter-spacing: 1.5px;
}

.display-input {
    height: 70%;
    text-align: start;
}

.display-output {
    text-align: end;
}

.keypress-container {
    text-align: start;
    width: 100%;
    height: 45%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: -45px;
    margin-top: 15px;
}

.keypress-container button {
    font-size: 1rem;
    padding: 3px;
}

.all-number {
    font-size: 1rem;
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}

.all-number button {
    height: 25%;
    width: 20%;
    text-align: center;
}

.all-sign {
    font-size: 1rem;
    height: 70%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    gap: 10px;
}

.all-sign button {
    height: 60%;
    width: 25%;
}

.keypress-container button:hover {
    background-color: rgba(110, 106, 106, 0.4);
    border: none;
    box-shadow: 1px 1spx 1px 1px rgb(134, 132, 132);
}

.error-container {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    border: 2px solid rgb(218, 177, 162);
    margin-top: 15px;
    height: 20%;
}

.error-container p {
    margin: 10px;
    line-height: 20px;
    color: rgba(214, 41, 41, 0.8);
}


/* For mobile view */

@media (max-width:445px) {
    h2 {
        font-size: 1.1rem;
    }
    .main-container {
        height: 80vh;
        padding-bottom: 18px;
        margin: 0 auto;
    }
    .display-container {
        font-size: 1rem;
    }
    .keypress-container {
        width: 100%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .all-number {
        height: 55%;
        flex-grow: 1;
    }
    .all-sign>button,
    .all-number>button {
        font-size: 0.7rem;
    }
    .all-sign {
        height: 30%;
        flex-grow: 1;
        padding-bottom: 20px;
        justify-content: flex-start;
    }
    .keypress-container button {
        width: 18%;
    }
    .error-container {
        margin-top: -6px;
    }
    .error-container p {
        font-size: 0.6rem;
    }
}